* {
    box-sizing: border-box;
  }
 
  
  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }

  .card {
    flex: 6px;
    padding: 3px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 55 px;
  }
  
  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .sample-img { padding: 60px;
    text-align: center;
    background: #13293d;
    color: #fff;}


  @media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }

    header {
      background: #772014;
    }

    .sample-img {
      background: #772014;
    }
  }

  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }

    aside {
      order: 2;
    }
 
    header {
      background: #772014;
    }

    nav,
    footer {
      background-color: #bb8588;
      text-align: center;
    }

    .card {
       display: -webkit-flex;
       -webkit-flex-wrap: wrap;
       display: flex;
       flex-wrap: wrap;
       background-color: grey;
       width: 100%;
    }

      .sample-img {
        background: #8ac4ff;
      }
       

      }
        img {
           width: 100% 
         
        }
    
    div {
      flex: 1;
      padding: 10px;
      margin: 10px;
    }

    .button {
        width: 250px;
        margin: 0 .5%;
        font-size: 200%;
        color: #13293d;
        background-color: #fff;
        border: 3px solid #13293d;
      }